/* Reset base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*simulare un dispositivo mobile */
body {
    width: 100%;
    max-width: 512px;
}

/*utility*/
.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.ins-bg-color {
    background-color: #5865F2;
}
.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}    

.sigmar-regular{
  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*header*/
.banner {
    width: 100%;
    max-width: 512px;
    margin-bottom: 20px;
}

/*main*/
.ins-contenitore {
   padding: 40px 20px;
   background-color: #191d7b;
}

.intro{
    width: 70%;
}