/* Reset base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*simulare un dispositivo mobile */
body {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
}


/*utility*/
.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.ins-bg-color {
    background-color: #5865F2;
}

.ins-bg-color-2{
    background-color: white;
}

/*header*/
header{
    background-color: #191d7b
}

.banner {
    width: 100%;
    max-width: 512px;
}

/*main*/
.ins-contenitore {
   padding: 40px 20px;
   background-color: #191d7b
}

.intro{
    padding: 0 70px;
}

.ins-titolo{
  font-family: "Sigmar", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.ins-testo {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 30px;
}

.ins-bottone {
    border-radius: 10px;
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
}

.inserzione{
    border-radius: 35px;
    margin: 50px 0;
    padding:60px 35px 0;
    position: relative;
}

.logo{
    width: 100px;
    position: absolute;
    top: -50px;
    left: 15%;
}